h1 {
  font-family: 'Russo One', sans-serif;
}

#hotels {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#hotels td, #hotels th {
  border: 1px solid #ddd;
  padding: 8px;
}

#hotels tr:nth-child(even){background-color: #f2f2f2;}

#hotels tr:hover {background-color: #ddd;}

#hotels th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d81b1b;
  color: white;
}

.button {
  margin-top: 15px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(15, 139, 15);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

body {
  margin: 10px;
}
