<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <div class="login-form">
      <form #loginForm = "ngForm" (ngSubmit) = "onSubmit(loginForm)">
          <h2 class="text-center">Sign in</h2>
          <div class="form-group">
            <label for="username">Username</label><br>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" ngModel required>
          </div>
          <div class="form-group">
            <label for="password">Password</label><br>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" ngModel required>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
      </form>
      <p class="text-center"><a routerLink="/register">Create an Account</a></p>
  </div>
  </body>
</html>
